@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto'; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');
/* font-family: 'Nunito'; */

.project-container {
    position: relative;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.light-background {
    background-color: #F9FBFF;
}

.blue-background {
    background-color: #415167;
}

body {
    margin: 0px;
    cursor: default;
}

.top-block {
    width: 100%;
    display: flex;
    height: 750px;
    position: relative;
}
@media (max-width: 1199px) {
  .top-block {
    height: 570px;
  }
}
@media (max-width: 991px) {
  .top-block {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .top-block {
    height: 400px;
  }
}
@media (max-width: 575px) {
  .top-block {
    height: 350px;
  }
}
@media (max-width: 480px) {
  .top-block {
    height: 320px;
  }
}
@media (max-width: 320px) {
  .top-block {
    height: 290px;
  }
}

.personalized-coffee {
    position: absolute;
    margin-top: 380px;
    margin-left: 160px;
}
@media (max-width: 1520px) {
  .personalized-coffee {
    margin-left: 100px;
    margin-top: 360px;
  }
}
@media (max-width: 1199px) {
  .personalized-coffee {
    margin-left: 90px;
    margin-top: 280px;
  }
}
@media (max-width: 941px) {
  .personalized-coffee {
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  .personalized-coffee {
    margin-left: 35px;
    margin-top: 190px;
  }
}
@media (max-width: 575px) {
  .personalized-coffee {
    margin-left: 40px;
    margin-top: 180px;
  }
}
@media (max-width: 480px) {
  .personalized-coffee {
    margin-left: 25px;
    margin-top: 145px;
  }
}
@media (max-width: 378px) {
  .personalized-coffee {
    margin-left: 10px;
    margin-top: 155px;
  }
}
@media (max-width: 320px) {
  .personalized-coffee {
    margin-left: 15px;
    margin-top: 145px;
  }
}

.left-block-in-top-block {
    width: 29%;
}

.left-block-img {
    margin-top: 110px;
    margin-left: 160px;
    max-width: 155px;
}
@media (max-width: 1520px) {
  .left-block-img {
    margin-left: 100px;
    max-width: 155px;
  }
}
@media (max-width: 1199px) {
  .left-block-img {
    margin-left: 90px;
    max-width: 140px;
  }
}
@media (max-width: 991px) {
  .left-block-img {
    margin-left: 90px;
    max-width: 110px;
  }
}
@media (max-width: 941px) {
  .left-block-img {
    margin-left: 50px;
    max-width: 110px;
  }
}
@media (max-width: 767px) {
  .left-block-img {
    margin-left: 35px;
    margin-top: 60px;
    max-width: 85px;
  }
}
@media (max-width: 575px) {
  .left-block-img {
    margin-left: 40px;
    margin-top: 60px;
    max-width: 62px;
  }
}
@media (max-width: 480px) {
  .left-block-img {
    margin-left: 20px;
    margin-top: 50px;
    max-width: 55px;
  }
}
@media (max-width: 378px) {
  .left-block-img {
    margin-left: 15px;
    margin-top: 50px;
    max-width: 50px;
  }
}
@media (max-width: 320px) {
  .left-block-img {
    margin-left: 18px;
    margin-top: 50px;
    max-width: 50px;
  }
}

.center-block-in-top-block {
    width: 50%;
}

.center-blocl-img {
    width: 100%;
    max-height: 750px;
    min-height: 750px;
    object-fit: cover;
}
@media (max-width: 1199px) {
  .center-blocl-img {
    max-height: 570px;
    min-height: 570px;
  }
}
@media (max-width: 991px) {
  .center-blocl-img {
    max-height: 500px;
    min-height: 500px;
  }
}
@media (max-width: 767px) {
  .center-blocl-img {
    max-height: 400px;
    min-height: 400px;
  }
}@media (max-width: 575px) {
  .center-blocl-img {
    max-height: 350px;
    min-height: 350px;
  }
}
@media (max-width: 480px) {
  .center-blocl-img {
    max-height: 320px;
    min-height: 320px;
  }
}
@media (max-width: 320px) {
  .center-blocl-img {
    max-height: 290px;
    min-height: 290px;
  }
}

.right-block-in-top-block {
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-block-img {
    /* color: ivory; */
    margin-top: 80px;
    margin-left: 35px;
    width: 30px;
    height: 30px;
}

.your {
    left: 15px;
    top: calc(50% - 200px/2);
    color: #415167;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    line-height: 80px;
    z-index: 100;
    font-size: 65px;
}
@media (max-width: 1199px) {
  .your {
    font-size: 45px;
    line-height: 60px;
  }
}
@media (max-width: 991px) {
  .your {
    font-size: 35px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .your {
    font-size: 30px;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  .your {
    font-size: 25px;
    line-height: 40px;
  }
}
@media (max-width: 480px) {
  .your {
    font-size: 20px;
    line-height: 40px;
  }
}
@media (max-width: 378px) {
  .your {
    font-size: 17px;
    line-height: 37px;
  }
}
@media (max-width: 320px) {
  .your {
    font-size: 14px;
    line-height: 35px;
  }
}

.personalized {
    padding: 0px 20px;
    left: 15px;
    top: calc(50% - 200px/2);
    color: #ffffff;
    background-color: #af987d;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    line-height: 80px;
    z-index: 100;
    font-size: 65px;
}
@media (max-width: 1199px) {
  .personalized {
    font-size: 45px;
    line-height: 60px;
  }
}
@media (max-width: 991px) {
  .personalized {
    font-size: 35px;
    line-height: 50px;
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .personalized {
    font-size: 30px;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  .personalized {
    font-size: 25px;
    line-height: 40px;
    padding: 0px 12px;
  }
}
@media (max-width: 480px) {
  .personalized {
    font-size: 20px;
    line-height: 40px;
    padding: 0px 12px;
  }
}
@media (max-width: 378px) {
  .personalized {
    font-size: 17px;
    line-height: 37px;
  }
}
@media (max-width: 320px) {
  .personalized {
    font-size: 14px;
    line-height: 35px;
  }
}


.coffee {
    left: 15px;
    top: calc(50% - 200px/2);
    color: #415167;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    line-height: 80px;
    z-index: 100;
    font-size: 65px;
}
@media (max-width: 1199px) {
  .coffee {
    font-size: 45px;
    line-height: 60px;
  }
}
@media (max-width: 991px) {
  .coffee {
    line-height: 50px;
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .coffee {
    font-size: 30px;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  .coffee {
    font-size: 25px;
    line-height: 40px;
  }
}
@media (max-width: 480px) {
  .coffee {
    font-size: 20px;
    line-height: 40px;
  }
}
@media (max-width: 378px) {
  .coffee {
    font-size: 17px;
    line-height: 37px;
  }
}
@media (max-width: 320px) {
  .coffee {
    font-size: 14px;
    line-height: 35px;
  }
}

.choose-and-delivery {
    width: 90%;
    justify-content: center;
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 14px;
}

/* 2 раздел */
.block-of-advantages {
    background-color: #F9FBFF;
}

.advantages-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
@media (max-width: 575px) {
  .advantages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.professional-coffee{
    background-color: #bca88f;
    width: 25%;
    margin-top: 90px;
    margin-bottom: 90px;
    border: 2px solid #9e8873;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -webkit-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -moz-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
}
@media (max-width: 1880px) {
  .professional-coffee {
    width: 26%;
  }
}
@media (max-width: 991px) {
  .professional-coffee {
    width: 26%;
  }
}
@media (max-width: 767px) {
  .professional-coffee {
    width: 27%;
  }
}
@media (max-width: 575px) {
  .professional-coffee {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 60%;
  }
}

.prof-img {
    margin-top: 15px;
    max-height: 69px;
}
@media (max-width: 991px) {
  .prof-img {
    margin-top: 4px;
    max-height: 62px;
  }
}
@media (max-width: 767px) {
  .prof-img {
    margin-top: 4px;
    max-height: 60px;
  }
}
@media (max-width: 575px) {
  .prof-img {
    margin-top: 4px;
    max-height: 69px;
  }
}
@media (max-width: 378px) {
  .prof-img {
    margin-top: 4px;
    max-height: 60px;
  }
}


.prof-text {
    margin: 20px 10px 10px 10px;
    font-family: 'Nunito';
    text-align: center;
    font-size: 16px;
}
@media (max-width: 1880px) {
  .prof-text {
    padding: 10px 10px;
    font-size: 26px;
    margin: 10px;
  }
}
@media (max-width: 1520px) {
  .prof-text {
    padding: 10px 10px;
    font-size: 22px;
    margin: 10px;
  }
}
@media (max-width: 991px) {
  .prof-text {
    padding: 10px 10px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .prof-text {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .prof-text {
    padding: 10px 10px;
    font-size: 18px;
    margin: 10px;
  }
}
@media (max-width: 378px) {
  .prof-text {
    padding: 10px 10px;
    font-size: 14px;
    margin: 10px;
  }
}

.selected-grains {
    background-color: #bca88f;
    width: 25%;
    margin-top: 90px;
    margin-bottom: 90px;
    border: 2px solid #9e8873;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -webkit-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -moz-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
}
@media (max-width: 1880px) {
  .selected-grains {
    width: 26%;
  }
}
@media (max-width: 991px) {
  .selected-grains {
    width: 26%;
  }
}
@media (max-width: 767px) {
  .selected-grains {
    width: 27%;
  }
}
@media (max-width: 575px) {
  .selected-grains {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
  }
}

.selected-text {
    margin: 20px 10px 10px 10px;
    margin-top: 20px;
    font-family: 'Nunito';
    text-align: center;
    font-size: 16px;
}
@media (max-width: 1880px) {
  .selected-text {
    padding: 10px 10px;
    font-size: 26px;
    margin: 10px;
  }
}
@media (max-width: 1520px) {
  .selected-text {
    padding: 10px 10px;
    font-size: 22px;
    margin: 10px;
  }
}

@media (max-width: 991px) {
  .selected-text {
    padding: 10px 10px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .selected-text {
    padding: 10px 10px;
    font-size: 14px;
    margin: 10px;
  }
}
@media (max-width: 575px) {
  .selected-text {
    padding: 10px 10px;
    font-size: 18px;
    margin: 10px;
  }
}
@media (max-width: 378px) {
  .selected-text {
    padding: 10px 10px;
    font-size: 14px;
    margin: 10px;
  }
}

.good-condition {
    background-color: #bca88f;
    width: 25%;
    margin-top: 90px;
    margin-bottom: 90px;
    border: 2px solid #9e8873;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -webkit-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -moz-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
}
@media (max-width: 1880px) {
  .good-condition {
    width: 26%;
  }
}
@media (max-width: 991px) {
  .good-condition {
    width: 26%;
  }
}
@media (max-width: 767px) {
  .good-condition {
    width: 27%;
  }
}
@media (max-width: 575px) {
  .good-condition {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 60%;
  }
}

.condition-text {
    margin: 20px 10px 10px 10px;
    margin-top: 20px;
    font-family: 'Nunito';
    text-align: center;
    font-size: 16px;
}
@media (max-width: 1880px) {
  .condition-text {
    padding: 10px 10px;
    font-size: 14px;
    font-size: 26px;
    margin: 10px;
  }
}
@media (max-width: 1520px) {
  .condition-text {
    padding: 10px 10px;
    font-size: 22px;
    margin: 10px;
  }
}
@media (max-width: 991px) {
  .condition-text {
    padding: 10px 10px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .condition-text {
    padding: 10px 10px;
    font-size: 14px;
    margin: 10px;
  }
}
@media (max-width: 575px) {
  .condition-text {
    padding: 10px 10px;
    font-size: 18px;
    margin: 10px;
  }
}
@media (max-width: 378px) {
  .condition-text {
    padding: 10px 10px;
    font-size: 14px;
    margin: 10px;
  }
}


/* 3 раздел */
.consultation {
    display: flex;
    font-family: 'Nunito';
    text-align: center;
    color: #c2b09a;
    font-size: 25px;
    z-index: 2;
    position: absolute;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    background-color: #415167;
    padding: 18px 0px;
    box-shadow: 10px -1px 26px 0px rgb(8 8 13 / 75%);
    -webkit-box-shadow: 10px -1px 23px 0px rgb(47 47 47 / 75%);
    -moz-box-shadow: 10px -1px 50px 0px rgba(8,8,13,0.75);
}
@media (max-width: 1880px) {
  .consultation {
    font-size: 30px;
  }
}
@media (max-width: 1199px) {
  .consultation {
    font-size: 28px;
  }
}
@media (max-width: 1072px) {
  .consultation {
    font-size: 25px;
  }
}
@media (max-width: 920px) {
  .consultation {
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  .consultation {
    font-size: 17px;
  }
}
@media (max-width: 652px) {
  .consultation {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .consultation {
    font-size: 12px;
  }
}
@media (max-width: 378px) {
  .consultation {
    font-size: 11px;
  }
}



.free-consultation-block {
    position: relative;
}

.left-free-consultation-block {
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0px;
}
@media (max-width: 378px) {
  .left-free-consultation-block {
    width: 30%;
  }
}

.information-container {
    display: flex;
}
@media (max-width: 575px) {
  .information-container {
    flex-direction: column;
  }
}

.we-give-grain-block {
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 575px) {
  .we-give-grain-block {
    width: 100%;
  }
}

.the-second-part-give-grain {
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 575px) {
  .the-second-part-give-grain {
    width: 100%;
  }
}

.information-container {
    display: flex;
}

.consultation-card-left {
    padding: 20px 20px;
    font-family: 'Nunito';
    text-align: center;
    background-color: #bca88f;
    opacity: 0.9;
    width: 620px;
    height: 90px;
    font-size: 34px;
    margin-top: 30px;
    box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -webkit-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -moz-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
}
@media (max-width: 1520px) {
  .consultation-card-left {
    font-size: 23px;
    height: 70px;
    width: 530px;
  }
}
@media (max-width: 1199px) {
  .consultation-card-left {
    font-size: 20px;
    height: 60px;
    width: 450px;
  }
}
@media (max-width: 1072px) {
  .consultation-card-left {
    font-size: 17px;
    height: 45px;
    width: 370px;
    padding: 15px 20px;
  }
}
@media (max-width: 920px) {
  .consultation-card-left {
    font-size: 15px;
    height: 40px;
    width: 320px;
    padding: 15px 20px;
  }
}
@media (max-width: 767px) {
  .consultation-card-left {
    font-size: 14px;
    height: 35px;
    width: 270px;
    padding: 15px 20px;
  }
}
@media (max-width: 652px) {
  .consultation-card-left {
    font-size: 12px;
    height: 30px;
    width: 210px;
    padding: 10px 15px;
  }
}
@media (max-width: 575px) {
  .consultation-card-left {
    font-size: 15px;
    height: 30px;
    width: 410px;
    padding: 10px 15px;
  }
}
@media (max-width: 480px) {
  .consultation-card-left {
    font-size: 15px;
    height: 30px;
    width: 310px;
    padding: 15px 15px;
  }
}
@media (max-width: 378px) {
  .consultation-card-left {
    font-size: 13px;
    height: 30px;
    width: 260px;
    padding: 10px 15px;
  }
}

.consultation-card-right {
    padding: 20px 20px;
    font-family: 'Nunito';
    text-align: center;
    background-color: #bca88f;
    opacity: 0.9;
    width: 620px;
    height: 90px;
    font-size: 34px;
    margin-top: 30px;
    box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -webkit-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
    -moz-box-shadow: 15px 15px 32px -12px rgba(59,34,4,0.75);
}
@media (max-width: 1520px) {
  .consultation-card-right {
    font-size: 23px;
    height: 70px;
    width: 530px;
  }
}
@media (max-width: 1199px) {
  .consultation-card-right {
    font-size: 20px;
    height: 60px;
    width: 450px;
  }
}
@media (max-width: 1072px) {
  .consultation-card-right {
    font-size: 17px;
    height: 45px;
    width: 370px;
    padding: 15px 20px;
  }
}
@media (max-width: 920px) {
  .consultation-card-right {
    font-size: 15px;
    height: 40px;
    width: 320px;
    padding: 15px 20px;
  }
}
@media (max-width: 767px) {
  .consultation-card-right {
    font-size: 14px;
    height: 35px;
    width: 270px;
    padding: 15px 20px;
  }
}
@media (max-width: 652px) {
  .consultation-card-right {
    font-size: 12px;
    height: 30px;
    width: 210px;
    padding: 10px 15px;
  }
}
@media (max-width: 575px) {
  .consultation-card-right {
    font-size: 15px;
    height: 30px;
    width: 410px;
    padding: 10px 15px;
  }
}
@media (max-width: 480px) {
  .consultation-card-right {
    font-size: 15px;
    height: 30px;
    width: 310px;
    padding: 15px 15px;
  }
}
@media (max-width: 378px) {
  .consultation-card-right {
    font-size: 13px;
    height: 30px;
    width: 260px;
    padding: 10px 15px;
  }
}

.we-give-grain-text {
    margin-top: 150px;
}
@media (max-width: 1520px) {
  .we-give-grain-text {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .we-give-grain-text {
    font-size: 20px;
  }
}
@media (max-width: 1072px) {
  .we-give-grain-text {
    font-size: 17px;
    height: 45px;
    width: 370px;
    padding: 15px 20px;
  }
}
@media (max-width: 920px) {
  .we-give-grain-text {
    font-size: 15px;
    height: 40px;
    width: 320px;
    padding: 15px 20px;
  }
}
@media (max-width: 767px) {
  .we-give-grain-text {
    font-size: 14px;
    height: 35px;
    width: 270px;
    padding: 15px 20px;
  }
}
@media (max-width: 652px) {
  .we-give-grain-text {
    font-size: 12px;
    height: 30px;
    width: 210px;
    padding: 10px 15px;
    margin-top: 100px;
  }
}
@media (max-width: 575px) {
  .we-give-grain-text {
    font-size: 15px;
    height: 30px;
    width: 410px;
    padding: 10px 15px;
    margin-top: 100px;
  }
}
@media (max-width: 480px) {
  .we-give-grain-text {
    font-size: 15px;
    height: 30px;
    width: 310px;
    padding: 15px 15px;
  }
}
@media (max-width: 378px) {
  .we-give-grain-text {
    font-size: 13px;
    height: 30px;
    width: 260px;
    padding: 10px 15px;
    margin-top: 90px;
  }
}


.pick-up-and {
    margin-top: 150px;
}
@media (max-width: 652px) {
  .pick-up-and {
    margin-top: 100px;
  }
}
@media (max-width: 575px) {
  .pick-up-and {
    margin-top: 30px;
  }
}

.container-btn {
    text-align: center;
    margin-top: 20px;
}

.get-consultation-btn {
    margin: 100px 0px 10px 0px;
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
    padding: 20px 30px;
    border: none;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #415167;
    box-shadow: 5px 6px 4px 0 rgba(0,0,0,0.2) ;
    font-size: 22px;
}
@media (max-width: 1520px) {
  .get-consultation-btn {
    padding: 16px 26px;
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .get-consultation-btn {
    padding: 14px 24px;
    font-size: 15px;
  }
}
@media (max-width: 1072px) {
  .get-consultation-btn {
    padding: 14px 24px;
    font-size: 14px;
    margin: 80px 0px 10px 0px;
  }
}
@media (max-width: 920px) {
  .get-consultation-btn {
    padding: 14px 22px;
    font-size: 14px;
    margin: 60px 0px 10px 0px;
  }
}
@media (max-width: 767px) {
  .get-consultation-btn {
    padding: 13px 18px;
    font-size: 12px;
    margin: 45px 0px 10px 0px;
  }
}
@media (max-width: 652px) {
  .get-consultation-btn {
    padding: 10px 15px;
    font-size: 11px;
    margin: 35px 0px 10px 0px;
  }
}
@media (max-width: 480px) {
  .get-consultation-btn {
    padding: 10px 15px;
    font-size: 9px;
    margin: 30px 0px 10px 0px;
  }
}

.get-consultation-btn:hover {
    transform: translateY(-6px);
}

.manager-call {
    font-family: 'Roboto';
    font-size: 18px;
    padding-bottom: 60px;
    color: #415167;
    cursor: default;
}
@media (max-width: 1199px) {
  .manager-call {
    font-size: 15px;
  }
}
@media (max-width: 1072px) {
  .manager-call {
    font-size: 14px;
  }
}
@media (max-width: 920px) {
  .manager-call {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .manager-call {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .manager-call {
    font-size: 10px;
  }
}
@media (max-width: 575px) {
  .manager-call {
    font-size: 9px;
  }
}
@media (max-width: 480px) {
  .manager-call {
    font-size: 9px;
    padding-bottom: 50px;
  }
}
@media (max-width: 378px) {
  .manager-call {
    font-size: 8px;
    padding-bottom: 50px;
  }
}




/* 4 раздел */
.our-varieties-container {
    position: relative;
    width: 100%;
    display: flex;
}

.bacgroung-our-varieties-container {
    width: 75%;
    background-color: #EDF0F5;
    height: 400px;
}
@media (max-width: 440px) {
  .bacgroung-our-varieties-container {
    height: 340px;
  }
}
@media (max-width: 340px) {
  .bacgroung-our-varieties-container {
    height: 320px;
  }
}

.right-our-varieties {
    width: 25%;
    height: 400px;
}
@media (max-width: 440px) {
  .right-our-varieties {
    height: 340px;
  }
}
@media (max-width: 340px) {
  .right-our-varieties {
    height: 320px;
  }
}

.common-window {
    display: flex;
    position: absolute;
    margin-top: 80px;
    left: calc(50% - 370px);
    width: 740px;
}
@media (max-width: 860px) {
  .common-window {
    left: calc(50% - 345px);
    width: 680px;
  }
}
@media (max-width: 767px) {
  .common-window {
    left: calc(50% - 302.5px);
    width: 605px;
  }
}
@media (max-width: 767px) {
  .common-window {
    left: calc(50% - 302.5px);
    width: 605px;
  }
}
@media (max-width: 650px) {
  .common-window {
    left: calc(50% - 256px);
    width: 512px;
  }
}
@media (max-width: 550px) {
  .common-window {
    left: calc(50% - 210px);
    width: 420px;
  }
}
@media (max-width: 550px) {
  .common-window {
    left: calc(50% - 210px);
    width: 420px;
  }
}
@media (max-width: 440px) {
  .common-window {
    left: calc(50% - 150px);
    width: 300px;
    flex-direction: column;
    margin-top: 35px;
  }
}
@media (max-width: 340px) {
  .common-window {
    left: calc(50% - 130px);
    width: 260px;
    flex-direction: column;
    margin-top: 35px;
  }
}



.varieties-form {
    width: 650px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(224 224 224);
    height: 270px;
    z-index: 1;
}
@media (max-width: 860px) {
  .varieties-form {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .varieties-form {
    width: 530px;
    height: 260px;
  }
}
@media (max-width: 650px) {
  .varieties-form {
    width: 440px;
    height: 235px;
  }
}
@media (max-width: 550px) {
  .varieties-form {
    width: 360px;
    height: 200px;
  }
}
@media (max-width: 440px) {
  .varieties-form {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 340px) {
  .varieties-form {
    width: 260px;
    height: 180px;
  }
}


.container-numbering {
    border-right: 2px solid rgb(224 224 224);
    border-top: 2px solid rgb(224 224 224);
    background-color: white;
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 270px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 860px) {
  .container-numbering {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .container-numbering {
    width: 72px;
    height: 260px;
  }
}
@media (max-width: 650px) {
  .container-numbering {
    width: 75px;
    height: 235px;
  }
}
@media (max-width: 550px) {
  .container-numbering {
    width: 60px;
    height: 200px;
  }
}
@media (max-width: 440px) {
  .container-numbering {
    width: 300px;
    height: 55px;
    flex-direction: row;
    border-top: none;
    border-left: 2px solid rgb(224 224 224);
  }
}
@media (max-width: 340px) {
  .container-numbering {
    width: 260px;
    height: 45px;
  }
}

.bright-and-unusual-title {
    padding: 25px 0px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #415167;
}
@media (max-width: 767px) {
  .bright-and-unusual-title {
    font-size: 19px;
  }
}
@media (max-width: 650px) {
  .bright-and-unusual-title {
    font-size: 18px;
    padding: 15px 0px;
  }
}
@media (max-width: 550px) {
  .bright-and-unusual-title {
    font-size: 15px;
    padding: 12px 0px;
  }
}
@media (max-width: 440px) {
  .bright-and-unusual-title {
    font-size: 12px;
    padding: 12px 0px;
  }
}
@media (max-width: 340px) {
  .bright-and-unusual-title {
    font-size: 12px;
    padding: 10px 0px;
  }
}

.bright-span {
    padding: 0px 40px 15px 40px;
    font-family: 'Nunito';
    font-size: 16px;
}
@media (max-width: 650px) {
  .bright-span {
    font-size: 14px;
    padding: 0px 15px 20px 15px;
  }
}
@media (max-width: 550px){
.bright-span {
    font-size: 13px;
    padding: 0px 10px 10px 10px;
  }
}
@media (max-width: 440px){
.bright-span {
    font-size: 12px;
    padding: 0px 10px 10px 10px;
  }
}
@media (max-width: 340px){
.bright-span {
    font-size: 11px;
    padding: 0px 10px 10px 10px;
  }
}

.bright-span-end {
    padding: 0px 40px 25px 40px;
    font-family: 'Nunito';
    font-size: 16px;
}
@media (max-width: 650px) {
  .bright-span-end {
    font-size: 14px;
    padding: 0px 15px 20px 15px;
  }
}
@media (max-width: 550px){
.bright-span-end {
    font-size: 13px;
    padding: 0px 10px 10px 10px;
  }
}
@media (max-width: 440px){
.bright-span-end {
    font-size: 12px;
    padding: 0px 10px 10px 10px;
  }
}
@media (max-width: 340px){
.bright-span-end {
    font-size: 11px;
    padding: 0px 10px 10px 10px;
  }
}

.first-card {
    height: 88px;
    text-align: center;
    line-height: 90px;
    border-bottom: 2px solid rgb(224 224 224);
    color: #415167;
    font-weight: 600;
    font-size: 30px;
}
@media (max-width: 767px) {
  .first-card {
    height: 85px;
  }
}
@media (max-width: 650px) {
  .first-card {
    height: 78px;
  }
}
@media (max-width: 550px) {
  .first-card {
    height: 65px;
    line-height: 70px;
    font-size: 26px;
  }
}
@media (max-width: 440px) {
  .first-card {
    height: 54px;
    line-height: 55px;
    font-size: 26px;
    width: 100px;
  }
}
@media (max-width: 340px) {
  .first-card {
    height: 44px;
    line-height: 45px;
    font-size: 20px;
  }
}
.first-card:hover  {
    background-color: #415167;
    color: white;
    cursor: pointer;
}

.second-card {
    height: 89px;
    text-align: center;
    line-height: 90px;
    border-bottom: 2px solid rgb(224 224 224);
    color: #415167;
    font-weight: 600;
    font-size: 30px;
}
@media (max-width: 767px) {
  .second-card {
    height: 85px;
  }
}
@media (max-width: 650px) {
  .second-card {
    height: 77px;
  }
}
@media (max-width: 550px) {
  .second-card {
    height: 65px;
    line-height: 70px;
    font-size: 26px;
  }
}
@media (max-width: 440px) {
  .second-card {
    height: 54px;
    line-height: 55px;
    font-size: 26px;
    width: 100px;
    border-left: 2px solid rgb(224 224 224);
    border-right: 2px solid rgb(224 224 224);
    border-top: none;
  }
}
@media (max-width: 340px) {
  .second-card {
    height: 44px;
    line-height: 45px;
    font-size: 20px;
  }
}
.second-card:hover {
    background-color: #415167;
    color: white;
    cursor: pointer;
}

.third-card {
    height: 89px;
    text-align: center;
    line-height: 90px;
    border-bottom: 2px solid rgb(224 224 224);
    color: #415167;
    font-weight: 600;
    font-size: 30px;
}
@media (max-width: 767px) {
  .third-card {
    height: 86px;
  }
}
@media (max-width: 650px) {
  .third-card {
    height: 76px;
  }
}
@media (max-width: 550px) {
  .third-card {
    height: 66px;
    line-height: 70px;
    font-size: 26px;
  }
}
@media (max-width: 440px) {
  .third-card {
    height: 54px;
    line-height: 55px;
    font-size: 26px;
    width: 100px;
  }
}
@media (max-width: 340px) {
  .third-card {
    height: 44px;
    line-height: 45px;
    font-size: 20px;
  }
}
.third-card:hover {
    background-color: #415167;
    color: white;
    cursor: pointer;
}



/* -------------------------------модальное окно------------------------------------------- */

/* .d-none {
    display: none;
} */

.hidden {
    visibility: hidden;
}

.md-modal-container{
    width: 450px;
    height: 290px;
    background-color: #f9fbff;
    border: 2px solid #9da6b3;
    position: fixed;
    z-index: 20;
    margin-top: 400px;
    margin-left: calc(50% - 225px);
}
@media (max-width: 1520px) {
  .md-modal-container {
    margin-top: 320px;
  }
}
@media (max-width: 1199px) {
  .md-modal-container {
    width: 405px;
    height: 245px;
    margin-left: calc(50% - 202px);
  }
}
@media (max-width: 767px) {
  .md-modal-container {
    width: 330px;
    height: 200px;
    margin-left: calc(50% - 165px);
    margin-top: 370px;
  }
}
@media (max-width: 480px) {
  .md-modal-container {
    width: 280px;
    height: 170px;
    margin-left: calc(50% - 140px);
    margin-top: 400px;
  }
}

.md-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.closing-modal{
    display: flex;
    justify-content: flex-end;
    margin: 8px 8px 0px 0px;
}

.leave-request {
    font-family: 'Nunito';
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #415167;
}
@media (max-width: 1199px) {
  .leave-request {
    font-size: 23px;
  }
}
@media (max-width: 767px) {
  .leave-request {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .leave-request {
    font-size: 14px;
  }
}

.common-name {
    margin: 20px 0px;
}
@media (max-width: 767px) {
  .common-name {
    margin: 13px 0px;
  }
}
@media (max-width: 480px) {
  .common-name {
    margin: 10px 0px;
  }
}

.inp-number {
    padding: 7px 10px;
    width: 93%;
    height: 20px;
}
@media (max-width: 1199px) {
  .inp-number {
    height: 15px;
  }
}
@media (max-width: 767px) {
  .inp-number {
    height: 12px;
  }
}
@media (max-width: 480px) {
  .inp-number {
    height: 9px;
  }
}

.inp-name {
    padding: 7px 10px;
    width: 93%;
    height: 20px;
    font-size: 16px;
}
@media (max-width: 1199px) {
  .inp-name {
    height: 15px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .inp-name {
    height: 12px;
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .inp-name {
    height: 9px;
    font-size: 11px;
  }
}

.add-a-product{
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
}

.inp-send {
    padding: 6px 20px;
    margin-top: 15px;
    font-size: 17px;
}
@media (max-width: 1199px) {
  .inp-send {
    margin-top: 5px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .inp-send {
    margin-top: 5px;
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  .inp-send {
    margin-top: 4px;
    font-size: 9px;
  }
}


/* -------------------------------модальное окно------------------------------------------- */
/* модальное окно благодарности за заявку */

.thanks-for-application-container {
    padding: 18px;
    width: 400px;
    height: 230px;
    background-color: #f9fbff;
    border: 2px solid #9da6b3;
    position: fixed;
    z-index: 20;
    margin-left: calc(50% - 220px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 320px;
}
@media (max-width: 1520px) {
  .thanks-for-application-container {
    margin-top: 290px;
  }
}
@media (max-width: 991px) {
  .thanks-for-application-container {
    width: 330px;
    height: 190px;
    margin-top: 330px;
    margin-left: calc(50% - 165px);
  }
}
@media (max-width: 663px) {
  .thanks-for-application-container {
    width: 280px;
    height: 180px;
    margin-top: 340px;
    margin-left: calc(50% - 140px);
  }
}
@media (max-width: 451px) {
  .thanks-for-application-container {
    width: 220px;
    height: 110px;
    margin-top: 390px;
    margin-left: calc(50% - 135px);
  }
}
@media (max-width: 340px) {
  .thanks-for-application-container {
    margin-left: calc(50% - 125px);
  }
}
@media (max-width: 294px) {
  .thanks-for-application-container {
    width: 170px;
    height: 90px;
    margin-left: calc(50% - 105px);
  }
}

.inp-well {
    padding: 7px 27px;
    margin-top: 27px;
    background-color: #219a00;
    color: white;
    font-size: 16px;
}
@media (max-width: 663px) {
  .inp-well {
    padding: 6px 24px;
  }
}
@media (max-width: 451px) {
  .inp-well {
    padding: 4px 15px;
    font-size: 13px;
    margin-top: 18px;
  }
}
@media (max-width: 294px) {
  .inp-well {
    padding: 3px 8px;
    font-size: 10px;
    margin-top: 12px;
  }
}


.thanks-for-application-title {
    font-family: 'Nunito';
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    color: #415167;
}
@media (max-width: 991px) {
  .thanks-for-application-title {
    font-size: 20px;
  }
}
@media (max-width: 663px) {
  .thanks-for-application-title {
    font-size: 17px;
  }
}
@media (max-width: 451px) {
  .thanks-for-application-title {
    font-size: 14px;
  }
}
@media (max-width: 294px) {
  .thanks-for-application-title {
    font-size: 10px;
  }
}

.ft-green-tick {
    margin: 15px 0px;
}
@media (max-width: 991px) {
  .ft-green-tick {
    height: 70px;
  }
}
@media (max-width: 663px) {
  .ft-green-tick {
    height: 60px;
  }
}
@media (max-width: 451px) {
  .ft-green-tick {
    height: 47px;
    margin: 0px 0px;
  }
}
@media (max-width: 451px) {
  .ft-green-tick {
    height: 34px;
    margin: 0px 0px;
    margin-bottom: 8px;
  }
}

@supports (animation: grow .5s cubic-bezier(.25, .25, .25, 1) forwards) {
     .tick {
        stroke-opacity: 0;
        stroke-dasharray: 29px;
        stroke-dashoffset: 29px;
        animation: draw .8s cubic-bezier(.25, .25, .25, 1) forwards;
        animation-delay: .4s
    }

    .circle {
        fill-opacity: 0;
        stroke: #219a00;
        stroke-width: 16px;
        transform-origin: center;
        transform: scale(0);
        animation: grow 3s cubic-bezier(.25, .25, .25, 1.25) forwards;   
    }   
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }
    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {
    0%, 100% { stroke-opacity: 1; }
    100% { stroke-dashoffset: 0; }
}



/* ------------------------------------------------------------------------------- */

.contact-information-container {
    height: 150px;
    background-color: #415167;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 575px) {
  .contact-information-container {
    height: 120px;
  }
}

.contact-information-logo {
    height: 48px;
}
@media (max-width: 575px) {
  .contact-information-logo {
    height: 44px;
  }
}
@media (max-width: 439px) {
  .contact-information-logo {
    height: 40px;
  }
}

.contact-information-title {
    font-family: 'Nunito';
    color: white;
    font-weight: 600;
    padding-bottom: 8px;
    margin-right: 15px;
}
@media (max-width: 991px) {
  .contact-information-title {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .contact-information-title {
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  .contact-information-title {
    font-size: 11px;
  }
}
@media (max-width: 439px) {
  .contact-information-title {
    font-size: 9px;
  }
}


.contact-information-text {
    font-family: 'Nunito';
    color: white;
    padding-bottom: 8px;
    margin-right: 15px;
}
@media (max-width: 991px) {
  .contact-information-text {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .contact-information-text {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .contact-information-text {
    font-size: 10px;
  }
}
@media (max-width: 439px) {
  .contact-information-text {
    font-size: 8px;
  }
}

/* карточка вкусов 2 */

.varieties-form-2 {
    width: 645px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(224 224 224);
    height: 270px;
    position: absolute;
}
@media (max-width: 860px) {
  .varieties-form-2 {
    width: 594px;
  }
}
@media (max-width: 767px) {
  .varieties-form-2 {
    width: 524px;
    height: 260px;
  }
}
@media (max-width: 650px) {
  .varieties-form-2 {
    width: 432px;
    height: 235px;
  }
}
@media (max-width: 550px) {
  .varieties-form-2 {
    width: 355px;
    height: 200px;
  }
}
@media (max-width: 440px) {
  .varieties-form-2 {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 340px) {
  .varieties-form-2 {
    width: 260px;
    height: 180px;
  }
}

.varieties-form-3 {
    width: 645px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(224 224 224);
  
    height: 270px;
    position: absolute;
}
@media (max-width: 860px) {
  .varieties-form-3 {
    width: 594px;
  }
}
@media (max-width: 767px) {
  .varieties-form-3 {
    width: 524px;
    height: 260px;
  }
}
@media (max-width: 650px) {
  .varieties-form-3 {
    width: 432px;
    height: 235px;
  }
}
@media (max-width: 550px) {
  .varieties-form-3 {
    width: 355px;
    height: 200px;
  }
}
@media (max-width: 440px) {
  .varieties-form-3 {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 340px) {
  .varieties-form-3 {
    width: 260px;
    height: 180px;
  }
}

.z-index-2{
    z-index: 2;
    background-color: #415167;
    color: white;
}

.z-index-3{
    z-index: 3;
    background-color: #415167;
    color: white; 
}



